* {
    box-sizing: border-box;
  }
body {
    margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ddd;
  }
  
  .sidenav {

    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 20px;
    -webkit-box-shadow: -2px 3px 14px -5px rgba(195,240,240,1);
-moz-box-shadow: -2px 3px 14px -5px rgba(195,240,240,1);
box-shadow: -2px 3px 14px -5px rgba(195,240,240,1);
  }
  
  .sidenav a {
    font-family: 'Advent Pro', sans-serif;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    text-align: center;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
      
  .main {
    margin-left: 250px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .sidenav img{
    height: 150px;
    width: 150px;
    border-radius: 100px;
    margin-left:50px;
  }

  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
      position: relative;
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }
  .overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  .column:hover .overlay{
    opacity: 1;
  }
  
  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #ddd;
  }
  #start-btn {
    font-size: 36px;
    padding: 20px 40px 20px 80px ;
    margin-top: 30px;
    border-radius: 10px;
    background:url("thanos-logo.png") white 15px no-repeat;
    background-size: 50px;
  }
  .dust {
    position: absolute;
  }
